*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
font-family: Arial;
}
 #ppal_img{
   background-image: no-repeat;
   background-image: fixed;
   background-image: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
nav{
  position: absolute;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.clearfix{
  clear: both;
}
.galeria{
  background-color: rgb(6, 131, 186);
}
.gallery-container{
  padding-top: 2;
  width:80%;
  margin:100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(2,300px);
}
.gallery-container .gallery-card{
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 3px solid #5ba1f4;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
.gallery-container .gallery-card a{
  width: 100%;
  height:100%;
}
.gallery-container .gallery-card a > img{
  width:100%;
  height:100%;
  object-fit: cover;
  transition: 0.5s;
}
.gallery-container .gallery-card a > img:hover{
  transform: scale(1.5) rotate(30deg);
}
.services{
  width:100%;
  height:auto;
}
.foot{
  width:100%;
  height:300px;
}
.siguenos{
  display:inline-block;
}
/*Calificacion Testimonios*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
/*CSS Testimonios*/
.contenedor-testimonios {
	background: url(../images/img/comentarios.jpg);
	background-size: cover;
	background-position: center 0;
	background-attachment: fixed;
	height: 150vh;
}

.contenedor-slider-testimonios {
	color: #fff;
	position: relative;
	top: 30%;
}

.contenedor-slider-testimonios .testimonial-slider {
	position: relative;
	padding: 70px 40px 90px 40px;
	background: rgba(0,0,0,0.5);
}

.contenedor-slider-testimonios .testimonial-slider .item:focus {
	outline: none;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item {
	position: relative;
	text-align: center;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .fa-user {
	font-size: 50px;
	margin-bottom: 10px;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .block-quote {
	position: relative;
	margin-bottom: 15px;
	width: 90%%;
	margin: 0 auto 15px;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .block-quote p {
	position: relative;
	margin-bottom: 15px;
	width: 90%;
	margin: 0 auto 15px;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .block-quote p:before {
	content: "\275D";
	display: inline-block;
	margin-right: 5px;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .block-quote p:after {
	content: "\275E";
	display: inline-block;
	margin-left: 5px;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .info .name {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ED6F00;
	margin-top: 0;
	margin-bottom: 5px;
}

.contenedor-slider-testimonios .testimonial-slider .carousel-item .info .position {
	color: #fff;
	font-weight: bolder;
}

/* Mediaqueries */
@media screen and (max-width: 500px) {
	.contenedor-slider-testimonios .testimonial-slider {
		padding: 10px 10px 45px 10px;
	}
}

/*Css BLOG*/
.blog{
  background-image: url(../images/img/comentario01.jpg);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:20%;
}
/*CSS Mapa Contacto*/
input {

   border-radius: 60px !important;
}
textarea{
  border-radius: 60px !important;
}
#containermap{
  padding: 0 0;
  position: relative;
}
#map-mirak{
  height: 600px;
  width: 100%;
  margin: auto;
  z-index: 50;
}
#form-contact{
  height: auto;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
/* Mediaqueries */
@media (max-width: 768px) {
    h1 {
        font-size: 18px;
    }

    .tel-fijo>p{
      font-size: 10px;
    }
    .movil>p{
      font-size: 10px;
    }
    .email>p{
      font-size: 10px;
    }
    .direc>p{
      font-size: 10px;
    }
}
#enviar-news{
  background-color:#086db5;
}
#enviar-news:hover{
  background-color:#055c9a;
  cursor:pointer;
}
#enviar-news:active{
  box-shadow:2px 2px 1px #0752ab;
}
/*Animaciones con animate.css*/
.newsletter:hover{
  animation: jello; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.reserva:hover{
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
.img-foot:hover{
  animation: jello; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
